.user-form__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form__content {
  background-color: #fff;
  padding: 20px;
  min-width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-form__header {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.user-form__button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.select-invalid {
  border-color: red;
}

.error-message {
  color: red;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}
