.posts_list__filter-and-sort {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.posts_list__filter-and-sort_checkbox_container{
  display: flex;
  align-items: center;

}

.posts_list__filter-and-sort_checkbox {
  min-width: 2rem;
  min-height: 2rem;
  cursor: pointer;
  margin-left: 1rem;
}
